In [3]:
import pandas as pd
from pandas import DataFrame

In [4]:
data = {'Yil':[2021, 2020, 2019, 2018, 2017, 2016, 2015, 2010],
       'Aholi soni':[33.9, 33.5, 32.9, 32.5, 31.9, 31.4, 30.9, 28.5],
       "Temp":[1.54, 1.48, 1.56, 1.62, 1.65, 1.66, 1.64, 1.53]}
df = DataFrame(data)

In [5]:
df

    Yil  Aholi soni  Temp
0  2021        33.9  1.54
1  2020        33.5  1.48
2  2019        32.9  1.56
3  2018        32.5  1.62
4  2017        31.9  1.65
5  2016        31.4  1.66
6  2015        30.9  1.64
7  2010        28.5  1.53

In [6]:
new_index = [10, 29, 25, 28, 45, 50, 55, 60]

In [8]:
df.index = new_index

In [9]:
df

     Yil  Aholi soni  Temp
10  2021        33.9  1.54
29  2020        33.5  1.48
25  2019        32.9  1.56
28  2018        32.5  1.62
45  2017        31.9  1.65
50  2016        31.4  1.66
55  2015        30.9  1.64
60  2010        28.5  1.53

In [10]:
df = df.reindex(new_index)

In [11]:
df

     Yil  Aholi soni  Temp
10  2021        33.9  1.54
29  2020        33.5  1.48
25  2019        32.9  1.56
28  2018        32.5  1.62
45  2017        31.9  1.65
50  2016        31.4  1.66
55  2015        30.9  1.64
60  2010        28.5  1.53

In [13]:
df.reindex([10, 25, 45])

     Yil  Aholi soni  Temp
10  2021        33.9  1.54
25  2019        32.9  1.56
45  2017        31.9  1.65

In [16]:
df.sample()

     Yil  Aholi soni  Temp
55  2015        30.9  1.64

In [17]:
df

     Yil  Aholi soni  Temp
10  2021        33.9  1.54
29  2020        33.5  1.48
25  2019        32.9  1.56
28  2018        32.5  1.62
45  2017        31.9  1.65
50  2016        31.4  1.66
55  2015        30.9  1.64
60  2010        28.5  1.53

In [18]:
df.loc[[10, 25, 45],['Aholi soni', 'Temp']]

    Aholi soni  Temp
10        33.9  1.54
25        32.9  1.56
45        31.9  1.65

In [19]:
df.loc[[10, 25, 45],['Aholi soni', 'Temp']].mean()

Aholi soni    32.900000
Temp           1.583333
dtype: float64

In [20]:
df

     Yil  Aholi soni  Temp
10  2021        33.9  1.54
29  2020        33.5  1.48
25  2019        32.9  1.56
28  2018        32.5  1.62
45  2017        31.9  1.65
50  2016        31.4  1.66
55  2015        30.9  1.64
60  2010        28.5  1.53