In [1]:
import  pandas as pd
import numpy as np

In [4]:
obj = pd.Series(np.arange(4), index=['d', 'a', 'b', 'c'])

In [5]:
obj

d    0
a    1
b    2
c    3
dtype: int32

In [6]:
obj.sort_index()

a    1
b    2
c    3
d    0
dtype: int32

In [7]:
obj.sort_values()

d    0
a    1
b    2
c    3
dtype: int32

In [8]:
df = pd.read_csv('https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/usa_cars.csv', index_col=0)
df.head()

,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
0,6300,toyota,cruiser,2008,clean vehicle,274117,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left
1,2899,ford,se,2011,clean vehicle,190552,silver,2fmdk3gc4bbb02217,166951262,tennessee,usa,6 days left
2,5350,dodge,mpv,2018,clean vehicle,39590,silver,3c4pdcgg5jt346413,167655728,georgia,usa,2 days left
3,25000,ford,door,2014,clean vehicle,64146,blue,1ftfw1et4efc23745,167753855,virginia,usa,22 hours left
4,27700,chevrolet,1500,2018,clean vehicle,6654,red,3gcpcrec2jg473991,167763266,florida,usa,22 hours left