In [1]:
import pandas as pd
import sqlite3 as sql
from pprint import pprint as print

In [2]:
!wget https://www.sqlitetutorial.net/wp-content/uploads/2018/03/chinook.zip

--2022-03-27 22:34:28--  https://www.sqlitetutorial.net/wp-content/uploads/2018/03/chinook.zip
Resolving www.sqlitetutorial.net (www.sqlitetutorial.net)... 151.139.128.11
Connecting to www.sqlitetutorial.net (www.sqlitetutorial.net)|151.139.128.11|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 305596 (298K) [application/zip]
Saving to: ‘chinook.zip’

chinook.zip         100%[===================>] 298.43K  1.02MB/s    in 0.3s

2022-03-27 22:34:29 (1.02 MB/s) - ‘chinook.zip’ saved [305596/305596]

In [3]:
!unzip chinook.zip

Archive:  chinook.zip
  inflating: chinook.db

In [10]:
db = sql.connect('chinook.db')
cursor = db.cursor()

In [15]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
cursor.fetchall()

[('albums',),
 ('sqlite_sequence',),
 ('artists',),
 ('customers',),
 ('employees',),
 ('genres',),
 ('invoices',),
 ('invoice_items',),
 ('media_types',),
 ('playlists',),
 ('playlist_track',),
 ('tracks',),
 ('sqlite_stat1',)]

In [21]:
cursor.execute("SELECT COUNT (*) FROM customers;")
cursor.fetchall()

[(59,)]

In [23]:
cursor.execute("SELECT * FROM employees;")
cursor.fetchall()

[(1,
  'Adams',
  'Andrew',
  'General Manager',
  None,
  '1962-02-18 00:00:00',
  '2002-08-14 00:00:00',
  '11120 Jasper Ave NW',
  'Edmonton',
  'AB',
  'Canada',
  'T5K 2N1',
  '+1 (780) 428-9482',
  '+1 (780) 428-3457',
  'andrew@chinookcorp.com'),
 (2,
  'Edwards',
  'Nancy',
  'Sales Manager',
  1,
  '1958-12-08 00:00:00',
  '2002-05-01 00:00:00',
  '825 8 Ave SW',
  'Calgary',
  'AB',
  'Canada',
  'T2P 2T3',
  '+1 (403) 262-3443',
  '+1 (403) 262-3322',
  'nancy@chinookcorp.com'),
 (3,
  'Peacock',
  'Jane',
  'Sales Support Agent',
  2,
  '1973-08-29 00:00:00',
  '2002-04-01 00:00:00',
  '1111 6 Ave SW',
  'Calgary',
  'AB',
  'Canada',
  'T2P 5M5',
  '+1 (403) 262-3443',
  '+1 (403) 262-6712',
  'jane@chinookcorp.com'),
 (4,
  'Park',
  'Margaret',
  'Sales Support Agent',
  2,
  '1947-09-19 00:00:00',
  '2003-05-03 00:00:00',
  '683 10 Street SW',
  'Calgary',
  'AB',
  'Canada',
  'T2P 5G3',
  '+1 (403) 263-4423',
  '+1 (403) 263-4289',
  'margaret@chinookcorp.com'),
 (5,
  'Johnson',
  'Steve',
  'Sales Support Agent',
  2,
  '1965-03-03 00:00:00',
  '2003-10-17 00:00:00',
  '7727B 41 Ave',
  'Calgary',
  'AB',
  'Canada',
  'T3B 1Y7',
  '1 (780) 836-9987',
  '1 (780) 836-9543',
  'steve@chinookcorp.com'),
 (6,
  'Mitchell',
  'Michael',
  'IT Manager',
  1,
  '1973-07-01 00:00:00',
  '2003-10-17 00:00:00',
  '5827 Bowness Road NW',
  'Calgary',
  'AB',
  'Canada',
  'T3B 0C5',
  '+1 (403) 246-9887',
  '+1 (403) 246-9899',
  'michael@chinookcorp.com'),
 (7,
  'King',
  'Robert',
  'IT Staff',
  6,
  '1970-05-29 00:00:00',
  '2004-01-02 00:00:00',
  '590 Columbia Boulevard West',
  'Lethbridge',
  'AB',
  'Canada',
  'T1K 5N8',
  '+1 (403) 456-9986',
  '+1 (403) 456-8485',
  'robert@chinookcorp.com'),
 (8,
  'Callahan',
  'Laura',
  'IT Staff',
  6,
  '1968-01-09 00:00:00',
  '2004-03-04 00:00:00',
  '923 7 ST NW',
  'Lethbridge',
  'AB',
  'Canada',
  'T1H 1Y8',
  '+1 (403) 467-3351',
  '+1 (403) 467-8772',
  'laura@chinookcorp.com')]

In [24]:
cursor.execute("PRAGMA table_info(employees);")
cursor.fetchall()

[(0, 'EmployeeId', 'INTEGER', 1, None, 1),
 (1, 'LastName', 'NVARCHAR(20)', 1, None, 0),
 (2, 'FirstName', 'NVARCHAR(20)', 1, None, 0),
 (3, 'Title', 'NVARCHAR(30)', 0, None, 0),
 (4, 'ReportsTo', 'INTEGER', 0, None, 0),
 (5, 'BirthDate', 'DATETIME', 0, None, 0),
 (6, 'HireDate', 'DATETIME', 0, None, 0),
 (7, 'Address', 'NVARCHAR(70)', 0, None, 0),
 (8, 'City', 'NVARCHAR(40)', 0, None, 0),
 (9, 'State', 'NVARCHAR(40)', 0, None, 0),
 (10, 'Country', 'NVARCHAR(40)', 0, None, 0),
 (11, 'PostalCode', 'NVARCHAR(10)', 0, None, 0),
 (12, 'Phone', 'NVARCHAR(24)', 0, None, 0),
 (13, 'Fax', 'NVARCHAR(24)', 0, None, 0),
 (14, 'Email', 'NVARCHAR(60)', 0, None, 0)]