In [18]:
import pandas as pd
import numpy as np

In [19]:
df = pd.DataFrame(np.random.randn(3,4), index=list('abc'), columns=['Olma','Anor','Qovun','Anjir'])

In [20]:
df

       Olma      Anor     Qovun     Anjir
a -0.357437 -0.676270  0.029937 -1.272124
b  0.012828 -0.443612 -0.567656  0.058813
c -0.146011 -0.104271 -0.027231  0.301883

In [21]:
np.abs(df)

       Olma      Anor     Qovun     Anjir
a  0.357437  0.676270  0.029937  1.272124
b  0.012828  0.443612  0.567656  0.058813
c  0.146011  0.104271  0.027231  0.301883

In [22]:
np.round(df)

   Olma  Anor  Qovun  Anjir
a  -0.0  -1.0    0.0   -1.0
b   0.0  -0.0   -1.0    0.0
c  -0.0  -0.0   -0.0    0.0

In [23]:
df.mean()

Olma    -0.163540
Anor    -0.408051
Qovun   -0.188317
Anjir   -0.303809
dtype: float64

In [24]:
df.mean(axis=1)

a   -0.568973
b   -0.234907
c    0.006092
dtype: float64

In [25]:
df.apply(np.abs)

       Olma      Anor     Qovun     Anjir
a  0.357437  0.676270  0.029937  1.272124
b  0.012828  0.443612  0.567656  0.058813
c  0.146011  0.104271  0.027231  0.301883

In [26]:
df

       Olma      Anor     Qovun     Anjir
a -0.357437 -0.676270  0.029937 -1.272124
b  0.012828 -0.443612 -0.567656  0.058813
c -0.146011 -0.104271 -0.027231  0.301883

In [27]:
df.apply(sum, axis=1)

a   -2.275894
b   -0.939626
c    0.024370
dtype: float64

In [28]:
f = lambda x: x.max() - x.min()

In [29]:
f

In [30]:
df.apply(f)

Olma     0.370265
Anor     0.571999
Qovun    0.597593
Anjir    1.574007
dtype: float64

In [31]:
def foo(x):
    return pd.Series([x.min(), x.max()], index=['min', 'max'])

In [32]:
df.apply(foo)

         Olma      Anor     Qovun     Anjir
min -0.357437 -0.676270 -0.567656 -1.272124
max  0.012828 -0.104271  0.029937  0.301883

In [33]:
df = pd.DataFrame(np.arange(1, 13).reshape(3,4), index=list('abs'), columns=['Olma', 'Anor', "Qovun", 'Anjir'])

In [34]:
df

   Olma  Anor  Qovun  Anjir
a     1     2      3      4
b     5     6      7      8
s     9    10     11     12

In [35]:
df.applymap(lambda x: x**2)

   Olma  Anor  Qovun  Anjir
a     1     4      9     16
b    25    36     49     64
s    81   100    121    144