In [3]:
import pandas as pd
import numpy as np
from pandas import DataFrame

In [4]:
data = {'Yil':[2021, 2020, 2019, 2018, 2017, 2016, 2015, 2010],
       'Aholi soni':[33.9, 33.5, 32.9, 32.5, 31.9, 31.4, 30.9, 28.5],
       "Temp":[1.54, 1.48, 1.56, 1.62, 1.65, 1.66, 1.64, 1.53]}
df = DataFrame(data)

In [5]:
df

    Yil  Aholi soni  Temp
0  2021        33.9  1.54
1  2020        33.5  1.48
2  2019        32.9  1.56
3  2018        32.5  1.62
4  2017        31.9  1.65
5  2016        31.4  1.66
6  2015        30.9  1.64
7  2010        28.5  1.53

In [6]:
df.head()

    Yil  Aholi soni  Temp
0  2021        33.9  1.54
1  2020        33.5  1.48
2  2019        32.9  1.56
3  2018        32.5  1.62
4  2017        31.9  1.65

In [7]:
df = DataFrame(data, columns=['Yil','Temp','Aholi soni'])

In [8]:
df

    Yil  Temp  Aholi soni
0  2021  1.54        33.9
1  2020  1.48        33.5
2  2019  1.56        32.9
3  2018  1.62        32.5
4  2017  1.65        31.9
5  2016  1.66        31.4
6  2015  1.64        30.9
7  2010  1.53        28.5

In [9]:
df = DataFrame(data, columns=['Yil','Temp','Aholi soni','YAIM'])

In [10]:
df.head()

    Yil  Temp  Aholi soni YAIM
0  2021  1.54        33.9  NaN
1  2020  1.48        33.5  NaN
2  2019  1.56        32.9  NaN
3  2018  1.62        32.5  NaN
4  2017  1.65        31.9  NaN

In [11]:
df = DataFrame(data, columns=['Yil','Temp','Aholi soni','YAIM'], index=[21, 20, 19, 18, 17, 16, 15, 10])

In [12]:
df.head()

     Yil  Temp  Aholi soni YAIM
21  2021  1.54        33.9  NaN
20  2020  1.48        33.5  NaN
19  2019  1.56        32.9  NaN
18  2018  1.62        32.5  NaN
17  2017  1.65        31.9  NaN

In [13]:
df.Temp

21    1.54
20    1.48
19    1.56
18    1.62
17    1.65
16    1.66
15    1.64
10    1.53
Name: Temp, dtype: float64

In [14]:
df['Aholi soni']

21    33.9
20    33.5
19    32.9
18    32.5
17    31.9
16    31.4
15    30.9
10    28.5
Name: Aholi soni, dtype: float64

In [15]:
df.YAIM = 1600

In [16]:
df

     Yil  Temp  Aholi soni  YAIM
21  2021  1.54        33.9  1600
20  2020  1.48        33.5  1600
19  2019  1.56        32.9  1600
18  2018  1.62        32.5  1600
17  2017  1.65        31.9  1600
16  2016  1.66        31.4  1600
15  2015  1.64        30.9  1600
10  2010  1.53        28.5  1600

In [17]:
df.loc[21]

Yil           2021.00
Temp             1.54
Aholi soni      33.90
YAIM          1600.00
Name: 21, dtype: float64

In [18]:
df.loc[21,'Aholi soni']

33.9

In [19]:
df.loc[21,'Aholi soni'] = 33.9

In [20]:
df

     Yil  Temp  Aholi soni  YAIM
21  2021  1.54        33.9  1600
20  2020  1.48        33.5  1600
19  2019  1.56        32.9  1600
18  2018  1.62        32.5  1600
17  2017  1.65        31.9  1600
16  2016  1.66        31.4  1600
15  2015  1.64        30.9  1600
10  2010  1.53        28.5  1600

In [22]:
val = pd.Series([1750, 1560, 1270], index=[21, 18, 10])

In [23]:
val

21    1750
18    1560
10    1270
dtype: int64

In [24]:
data1 = {
    'Uzbekistan':{2021:33.9, 2020:33.5, 2019:32.9, 2018:32.5, 2017:31.9},
    'Kazakhstan':{2021:18.9, 2020:18.7, 2019:18.5, 2018:18.3, 2017:18.1, 2016:17.8}
}
df = pd.DataFrame(data)

In [26]:
df.head()

    Yil  Aholi soni  Temp
0  2021        33.9  1.54
1  2020        33.5  1.48
2  2019        32.9  1.56
3  2018        32.5  1.62
4  2017        31.9  1.65

In [27]:
df = pd.DataFrame(data1)

In [28]:
usernames = {"anvar":"anvarbek223", "olim":"olimtoy", "maryam":"mary334455","javohir":"javohir445"}
emails = {"anvar":"anvar@gmail.com", "olim":"olim@mail.ru", "maryam":"mary33@gmail.com","javohir":"javohir445@gmail.com"}

data = {
    'username':usernames,
    'email':emails
}
df = pd.DataFrame(data)

In [29]:
df.head()

            username                 email
anvar    anvarbek223       anvar@gmail.com
olim         olimtoy          olim@mail.ru
maryam    mary334455      mary33@gmail.com
javohir   javohir445  javohir445@gmail.com

In [30]:
data2 = {
    'username':{"olim":"olimjon21", "maryam":"maryam2020"},
    'email':{"olim":"olimjon21@mail.ru", "maryam":"maryam20@gmail.com"}
}

In [31]:
df2 = df.append(pd.DataFrame(data2))

In [32]:
df2

            username                 email
anvar    anvarbek223       anvar@gmail.com
olim         olimtoy          olim@mail.ru
maryam    mary334455      mary33@gmail.com
javohir   javohir445  javohir445@gmail.com
olim       olimjon21     olimjon21@mail.ru
maryam    maryam2020    maryam20@gmail.com

In [33]:
newind = pd.Index(['olim','nafisa','hamida']) # yangi indeks yaratamiz
newind

Index(['olim', 'nafisa', 'hamida'], dtype='object')

In [34]:
newind.isin(df2.index) # newind df2.index tarkibida borligni tekshirish

array([ True, False, False])

In [35]:
df2.index.difference(newind) # df2

Index(['anvar', 'javohir', 'maryam'], dtype='object')

In [36]:
df2.loc[newind]

KeyError: "['nafisa', 'hamida'] not in index"

In [37]:
df2.loc[newind] = df2.loc[newind].fillna(0)

KeyError: "['nafisa', 'hamida'] not in index"

In [38]:
df2

            username                 email
anvar    anvarbek223       anvar@gmail.com
olim         olimtoy          olim@mail.ru
maryam    mary334455      mary33@gmail.com
javohir   javohir445  javohir445@gmail.com
olim       olimjon21     olimjon21@mail.ru
maryam    maryam2020    maryam20@gmail.com