In [2]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [3]:
data = {'Yil':[2021, 2020, 2019, 2018, 2017, 2016, 2015, 2010],
       'Aholi soni':[33.9, 33.5, 32.9, 32.5, 31.9, 31.4, 30.9, 28.5],
       "Temp":[1.54, 1.48, 1.56, 1.62, 1.65, 1.66, 1.64, 1.53]}
df = DataFrame(data)

In [4]:
df.head()

    Yil  Aholi soni  Temp
0  2021        33.9  1.54
1  2020        33.5  1.48
2  2019        32.9  1.56
3  2018        32.5  1.62
4  2017        31.9  1.65

In [5]:
df

    Yil  Aholi soni  Temp
0  2021        33.9  1.54
1  2020        33.5  1.48
2  2019        32.9  1.56
3  2018        32.5  1.62
4  2017        31.9  1.65
5  2016        31.4  1.66
6  2015        30.9  1.64
7  2010        28.5  1.53

In [6]:
df.columns

Index(['Yil', 'Aholi soni', 'Temp'], dtype='object')

In [7]:
df.index[2]

2

In [8]:
'Aholi soni' in df.columns

True

In [9]:
data1 = {
    'Uzbekistan':{2021:33.9, 2020:33.5, 2019:32.9, 2018:32.5, 2017:31.9},
    'Kazakhstan':{2021:18.9, 2020:18.7, 2019:18.5, 2018:18.3, 2017:18.1, 2016:17.8}
}
df2 = pd.DataFrame(data1)

In [10]:
df2

      Uzbekistan  Kazakhstan
2021        33.9        18.9
2020        33.5        18.7
2019        32.9        18.5
2018        32.5        18.3
2017        31.9        18.1
2016         NaN        17.8

In [11]:
'Uzbekistan' in df2.columns

True

In [12]:
df2.columns

Index(['Uzbekistan', 'Kazakhstan'], dtype='object')

In [13]:
df2.index

Int64Index([2021, 2020, 2019, 2018, 2017, 2016], dtype='int64')

In [14]:
df2.index[0]

2021

In [15]:
df2.index[0:2]

Int64Index([2021, 2020], dtype='int64')

In [16]:
usernames = {"anvar":"anvarbek223", "olim":"olimtoy", "maryam":"mary334455","javohir":"javohir445"}
emails = {"anvar":"anvar@gmail.com", "olim":"olim@mail.ru", "maryam":"mary33@gmail.com","javohir":"javohir445@gmail.com"}

data = {
    'username':usernames,
    'email':emails
}
df = pd.DataFrame(data)

In [17]:
df

            username                 email
anvar    anvarbek223       anvar@gmail.com
olim         olimtoy          olim@mail.ru
maryam    mary334455      mary33@gmail.com
javohir   javohir445  javohir445@gmail.com

In [18]:
df.index

Index(['anvar', 'olim', 'maryam', 'javohir'], dtype='object')

In [19]:
data2 = {
    'username':{"olim":"olimjon21", "maryam":"maryam2002"},
    'email':{"olim":"olimjon21@gmail.com", "maryam":"maryam20@gmail.com"}
}

In [21]:
df2 = df.append(pd.DataFrame(data2))

In [22]:
df2

            username                 email
anvar    anvarbek223       anvar@gmail.com
olim         olimtoy          olim@mail.ru
maryam    mary334455      mary33@gmail.com
javohir   javohir445  javohir445@gmail.com
olim       olimjon21   olimjon21@gmail.com
maryam    maryam2002    maryam20@gmail.com

In [25]:
newin = pd.Index(['olim', 'shabnam', 'javohir'])

In [26]:
newin.isin(df2.index)

array([ True, False,  True])

In [27]:
df2.index.difference(newin)

Index(['anvar', 'maryam'], dtype='object')

In [28]:
newin.difference(df2.index)

Index(['shabnam'], dtype='object')

In [29]:
df2.index.union(newin)

Index(['anvar', 'javohir', 'maryam', 'maryam', 'olim', 'olim', 'shabnam'], dtype='object')

In [30]:
df2.index.delete(0)

Index(['olim', 'maryam', 'javohir', 'olim', 'maryam'], dtype='object')