In [1]:
import pandas as pd
import numpy as np

In [12]:
df = pd.read_csv('https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/uzbekistan.csv', index_col=0)
df.columns = ['maydoni', 'aholisi']
df.head()

                   maydoni    aholisi
Boʻlinishi
Andijon viloyati    4200.0  1899000.0
Buxoro viloyati    39400.0  1384700.0
Fargʻona viloyati   6800.0  2597000.0
Jizzax viloyati    20500.0   910500.0
Xorazm viloyati     6300.0  1200000.0

In [13]:
df.sum()

maydoni      441900.0
aholisi    22945800.0
dtype: float64

In [14]:
df2 = pd.read_csv("https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/gm_sales.csv", index_col=0)
df2.head()

         2020   2021
Labo     4521   7542
Damas   30889  33682
Spark   16370   6485
Nexia   41663  14442
Cobalt  44901  36317

In [15]:
df2.sum()

2020    168712
2021    124734
dtype: int64

In [17]:
df2.sum(axis=1) # axis='columns'

Labo      12063
Damas     64571
Spark     22855
Nexia     56105
Cobalt    81218
Gentra    56634
dtype: int64

In [19]:
df2.mean(axis=1) # axis='columns'

Labo       6031.5
Damas     32285.5
Spark     11427.5
Nexia     28052.5
Cobalt    40609.0
Gentra    28317.0
dtype: float64

In [20]:
df

                                maydoni    aholisi
Boʻlinishi
Andijon viloyati                 4200.0  1899000.0
Buxoro viloyati                 39400.0  1384700.0
Fargʻona viloyati                6800.0  2597000.0
Jizzax viloyati                 20500.0   910500.0
Xorazm viloyati                  6300.0  1200000.0
Namangan viloyati                7900.0  1862000.0
Navoiy viloyati                110800.0   767500.0
Qashqadaryo viloyati            28400.0  2029000.0
Qoraqalpogʻiston Respublikasi  160000.0  1200000.0
Samarqand viloyati              16400.0  2322000.0
Sirdaryo viloyati                5100.0   648100.0
Surxondaryo viloyati            20800.0  1676000.0
Toshkent viloyati               15300.0  4450000.0

In [21]:
df.mean()

maydoni    3.399231e+04
aholisi    1.765062e+06
dtype: float64

In [22]:
df.mean(axis=1)

Boʻlinishi
Andijon viloyati                  951600.0
Buxoro viloyati                   712050.0
Fargʻona viloyati                1301900.0
Jizzax viloyati                   465500.0
Xorazm viloyati                   603150.0
Namangan viloyati                 934950.0
Navoiy viloyati                   439150.0
Qashqadaryo viloyati             1028700.0
Qoraqalpogʻiston Respublikasi     680000.0
Samarqand viloyati               1169200.0
Sirdaryo viloyati                 326600.0
Surxondaryo viloyati              848400.0
Toshkent viloyati                2232650.0
dtype: float64

In [23]:
df.idxmax()

maydoni    Qoraqalpogʻiston Respublikasi
aholisi                Toshkent viloyati
dtype: object

In [25]:
df.idxmin()

maydoni     Andijon viloyati
aholisi    Sirdaryo viloyati
dtype: object